.attraction{
    margin: 0px; 
    font-family: NotoSansTC-Regular;
}
.cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(112, 112, 112, .5);
    z-index: 2;
}
.number{
    display: none;
}
.menu{
    position: fixed;
    top: 80px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 340px;
    background-color: white;
    z-index: 3;
    display: none;
}
.member{
    text-align: center; margin: 10px; font-weight: 700; color:#666666; letter-spacing: 1px;
    background-image: url("icon_close.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right top;
}
.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}
.signin input{
    width:298px; height: 35px; padding: 6px;
    border: groove aaa7a7;
    color: #666666;
}
.signin button{
    background-color: #448899;
    color: white;
    width: 310px;
    height: 47px;
    border: none;
}
.container{
    display:flex; 
    flex-wrap: wrap; 
    width:auto; 
    margin-left: auto; 
    margin-right: auto; 
    align-items: center; 
    justify-content: center;
}
nav{
    width:100%; height: 44px;
    background-color: white;
    z-index: 1;
    margin-bottom: 37px;
}
nav>.sticky{
    position: sticky;
    top: 0px;
}
.top-container{
    margin: 0px auto;
    display: flex;
    width:1200px;
    justify-content: center;
    align-items: center;
}
.subject{
    color:#448899;
    font-size:30px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 10px;
}
.frame{
    font-size: 16px;
    color: #666666;
    margin-right: 10px;
    cursor: pointer;
}

section{
    display: flex;
    width: 1200px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
section>#pictureBox{
    position: relative;
    width:560px;
    height: 406px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#profile{
    width: 600px;
    height: auto;
    margin: 15px;;
}
section>.parting-line{
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 10px;
}
section>#description{
    margin: 10px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}
section>.content{
    margin: 5px; 
    width: 100%;
}
#pictureBox>.arrow_list{
    display: flex; width: 100%; justify-content: space-between; padding: 15px;
}
#pictureBox> #radio_list{
    position:absolute; bottom:0px;
}

#profile>#attractionName{
    font-size: 24px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;
}
#profile>#info{
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}
#profile>#booking-form{
    width:auto;
    height: 302px;
    background-color: #e8e8e8;
}

#booking-form>.booking-title{
    color: #666666; 
    font-weight: 700; 
    font-size: 16px; 
    padding:20px;
}
#booking-form>.booking-intro{
    color: #666666; 
    font-weight: 400; 
    font-size: 16px; 
    margin-bottom: 10px; 
    margin-left: 20px; 
    margin-right: 20px;
}
#booking-form>.booking-date{
    color: #666666; 
    font-weight: 700; 
    font-size: 16px; 
    margin-bottom: 20px; 
    margin-left: 20px; 
    display: inline-block;
}
#booking-form>.date{
    display: inline-block; 
    width: 185px; 
    height: 20px; 
    font-size: 16px; 
    border: none; 
    padding: 8px;
}
.charge{
    display: flex;
}
.toll{
    color: #666666; 
    font-weight: 700; 
    font-size: 16px; 
    margin-bottom: 20px; 
    margin-left: 20px; 
    display: inline-block;
}
.booking_confirm{
    width: 154px;
    height: 36px;

    margin-left: 20px;
    text-align: center;

    color: white;
    font-size: 19px;
    font-weight: 400;

    background-color: #448899;
    border: none;
    border-radius: 8px;
}
#booking-form>#fee{
    color: #666666;
    font-size: 16px;
    display: inline-block;
}
.charge>.time{
    color: #666666; 
    font-weight: 700; 
    font-size: 16px; 
    margin-bottom: 20px; 
    margin-left: 20px; 
    text-align: center;
}
.charge>.radio-options{
    display: flex;
    text-align: center; 
}

.content>.address-title{
    color: #666666; 
    font-weight: 700; 
    font-size: 16px; 
    text-align: left; 
    margin-left: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}
.content>#address{
    margin-left: 10px;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
}
.content>.transport-title{
    color: #666666; 
    font-weight: 700; 
    font-size: 16px; 
    text-align: left; 
    margin-left: 10px; 
    margin-top: 20px; 
    margin-bottom: 10px;
}

.radio_btn{
    width: 22px; height: 22px; border-radius: 50%; border: none; background-color: #ffffff; margin-left: 18px; margin-right: 6px;
}
.radio_btn:checked{
    accent-color: #448899;
}

.pic_btn{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: .5;
    border: none;
}

.arrow_list>#left{
    background: url('btn_leftArrow.png');
}
.arrow_list>#right{
    background: url('btn_rightArrow.png');
}
.circle{
    margin: 15px;
    width: 15px;
    height: 15px;
    border: none;
}
.circle:checked{
    accent-color: #666666;
}

#transport{
    margin-left: 10px;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
}
@font-face{
    font-family: 'NotoSansTC-Regular';
    src:url("NotoSansTC-Regular.otf")
}
@media (max-width:1200px){
    #pictureBox{
        width: 600px;
        
    }
    .top-container{
        width:100%;
    }
    .container{
        width:100%;
        height: 100%;
    }
    nav{
        width: 100%;
    }
    section{
        width:100%;
    }
}
.footer{
    font-weight: 700;
    width: 100%;
    height: 104px;
    background-color: #757575;
    color: white;
    text-align: center;
    line-height: 104px;
    margin-top: 50px;
    margin-bottom: auto;
}
@media (max-width:600px){
   #pictureBox{
       background-size:cover;
   }
}