<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>景點</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="../static/css/attraction.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>
    <body class="attraction" onload="loaded();">
        <div style="height: 275px;" id="signin_menu" class="menu">
            <div class="member">登入會員帳號<button style="position: absolute; right:10px; width:20px; height: 20px; background-color: transparent; border: none;" onclick="closeMenu();"></button></div>
            <div class="signin"><input id="email" placeholder="輸入電子信箱"/></div>
            <div class="signin"><input type="password" id="password" placeholder="輸入密碼"/></div>
            <div class="signin"><button onclick="login();">登入帳戶</button></div>
            <div style="color:#666666; margin:10px; text-align: center; cursor: pointer;" id="signin_tip" onclick="changeMenu('signin');">還沒有帳戶？點此註冊</div>   
        </div>
        <div style="height: 334px; display: none;" id="signup_menu" class="menu">
            <div class="member">註冊會員帳號<button style="position: absolute; right:10px; width:20px; height: 20px; background-color: transparent; border: none;" onclick="closeMenu();"></button></div>
            <div class="signin"><input id="name" placeholder="輸入姓名"/></div>
            <div class="signin"><input id="unsign_email" placeholder="輸入電子郵件"/></div>
            <div class="signin"><input type="password" id="unsign_password" placeholder="輸入密碼"/></div>
            <div class="signin"><button onclick="signUp();">註冊新帳戶</button></div>
            <div style="color:#666666; text-align: center; margin:10px; cursor: pointer;" id="signup_tip" onclick="changeMenu('signup');">已經有帳戶了？點此登入</div> 
        </div>
        <div id="cover"></div>
        <div class="container">
            <nav class="sticky" id="nav">
                <div class="top-container">
                    <div class="subject">台北一日遊</div>
                    <div class="frame" onclick="bookingPage();">預定行程</div>
                    <div class="frame" onclick="signin();" id="state">登入/註冊</div>
                </div>     
            </nav>
            <section>
                <div id="pictureBox">
                    <div class="arrow_list">
                        <button class="pic_btn" id="left" onclick="changeImage('prev');"></button>
                        <button class="pic_btn" id="right" onclick="changeImage('next');"></button>
                    </div>
                    <div id="radio_list">
                    </div>
                </div>
                <div id="profile">
                    <div id="attractionName"></div>
                    <div id="info"></div>
                    <div id="booking-form">
                        <div class="booking-title">訂購導覽行程</div>
                        <div class="booking-intro">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div class="booking-date">選擇日期：</div>
                        <input type="date" class="date" id="date"/>
                        <div class="charge">
                            <div class="time">選擇時間 :</div>
                            <div class="radio-options">
                                <label  id="left_btn" style="display: flex;" onclick="select('morning')"><input type="radio" class="radio_btn" id="btn1"></input><div style="color:#666666; font-size:16px;">上半天</div></label>
                                <label  id="right_btn" style="display: flex;" onclick="select('afternoon')"><input type="radio" class="radio_btn" id="btn2"></input><div style="color:#666666; font-size:16px;">下半天</div></label>
                            </div>
                        </div>
                        <div class="toll">導覽費用：</div>
                        <div id="fee">新台幣 2000 元</div>
                        <div><button class="booking_confirm" onclick="booking();">開始預訂行程</button></div>
                    </div>
                </div>
                <hr class="parting-line"/>
                <div id="description"></div>
                <div class="content">
                    <div class="address-title">景點地址 :</div>
                    <div id="address"></div>
                    <div class="transport-title">交通方式 :</div>
                    <div id="transport"></div>
                </div>
            </section>
        </div>
        <div class="footer">COPYRIGHT &copy 2021 台北一日遊</div>
        <script src="../static/js/attraction.js"></script>
        <script src="../static/js/common.js"></script>
    </body>
</html>