<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="utf-8" />
        <title>首頁</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body style="margin: 0px; font-family: NotoSansTC-Regular;" onload="loaded();">
        <div style="height: 275px;" id="signin_menu" class="menu">
            <div class="member">登入會員帳號<button style="position: absolute; right:10px; width:20px; height: 20px; background-color: transparent; border: none;" onclick="closeMenu();"></button></div>
            <div class="signin"><input id="email" placeholder="輸入電子信箱"/></div>
            <div class="signin"><input type="password" id="password" placeholder="輸入密碼"/></div>
            <div class="signin"><button onclick="login();">登入帳戶</button></div>
            <div style="color:#666666; margin:10px; text-align: center; cursor: pointer;" id="signin_tip" onclick="changeMenu('signin');">還沒有帳戶？點此註冊</div>   
        </div>
        <div style="height: 334px; display: none;" id="signup_menu" class="menu">
            <div class="member">註冊會員帳號<button style="position: absolute; right:10px; width:20px; height: 20px; background-color: transparent; border: none;" onclick="closeMenu();"></button></div>
            <div class="signin"><input id="name" placeholder="輸入姓名"/></div>
            <div class="signin"><input id="unsign_email" placeholder="輸入電子郵件"/></div>
            <div class="signin"><input type="password" id="unsign_password" placeholder="輸入密碼"/></div>
            <div class="signin"><button onclick="signUp();">註冊新帳戶</button></div>
            <div style="color:#666666; text-align: center; margin:10px; cursor: pointer;" id="signup_tip" onclick="changeMenu('signup');">已經有帳戶了？點此登入</div> 
        </div>
        <div id="cover"></div>
        <nav class="sticky" id="nav">
            <div class="top-container">
                <div class="subject">台北一日遊</div>
                <div class="frame" onclick="bookingPage();">預定行程</div>
                <div id="state" class="frame" onclick="signin();">登入/註冊</div>
            </div>     
        </nav>
        <section>
            <div class="slogan">
                <div style="color: white; font-size: 28px; font-weight: 700; line-height: 24px; margin-bottom: 20px;">輕鬆享受台北一日悠閒</div>
                <div style="color: white; font-size: 16px; line-height: 13px; margin-bottom: 20px;">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input class="textbox" value="請輸入景點名稱查詢" id="keyword" onclick="textboxFocused();"/>
                    <button class="search_btn" onclick="searching()"><img src="{{ url_for('static', filename='icon_search.png') }}"></button></input>
                </div>
            </div>         
        </section>
        <content id="attractions">
        </content>
        <div class="footer">COPYRIGHT &copy 2021 台北一日遊</div>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="{{ url_for('static', filename='common.js') }}"></script>
    </body>
</html>