<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="utf-8" />
        <title>首頁</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            let flag = true;
            class AttractionsList{
                constructor(){
                    this.keyword = null;
                    this.flag = false;
                    this.offset = 0;
                }
                parse(data, page){
                    this.length = data.length;
                    this.nextPage = page;
                    this.name = [];
                    this.mrtStation = [];
                    this.category = [];
                    this.images = [];

                    for(let i = 0; i < this.length; i++){
                        if(data[i]['name'] != 'null'){
                            this.name.push(data[i]['name']);
                        }
                        else{
                            this.name.push('')
                        }
                        if(data[i]['mrt'] != 'null'){
                            this.mrtStation.push(data[i]['mrt']);;
                        }
                        else{
                            this.mrtStation.push('')
                        }
                        if(data[i]['category'] != 'null'){
                            this.category.push(data[i]['category']);
                        }
                        else{
                            this.category.push('');
                        }
                        if(data[i]['category'] != 'null'){
                            this.images.push(data[i]['images']);
                        }
                        else{
                            this.images.push('');
                        }
                    }
                }
                test(){
                    console.log(this.name);
                    console.log(this.mrtStation);
                    console.log(this.category);
                    console.log(this.images);
                    console.log(this.nextPage);
                }
                search(keyword){
                    this.keyword = keyword;
                }
            }

            let Attractions = new AttractionsList();

            function loaded(){

                window.addEventListener('wheel', mouseWheel);
                window.addEventListener('scroll', scroll);

                url="/api/attractions?page=0"
                getAttractions(url);
                makeRequestWithJWT();
            };

            async function getAttractions(url){
                if(!Attractions.flag){
                    Attractions.flag = true;
                    const response = await fetch(url);
                    const result = await response.json();
                    let count = result['data'].length;
                    let data = result['data'];
                    let Page = result['nextPage'];
                    
                    if(count > 0){
                        Attractions.parse(data, Page);
                        createElement();
                    }
                    else{
                        alert("無相關結果");
                    }
                    Attractions.flag = false;
                }
            };
            // infinite scrolling
            function scroll(){              
                
                const scrollTop = document.documentElement.scrollTop;
                const scrollHeight = document.documentElement.scrollHeight;
                const clientHeight = document.documentElement.clientHeight;

                // on the bottom
                if(scrollHeight - Math.trunc(scrollTop) - Math.trunc(clientHeight) <= 1){
                    if(Attractions.keyword == null){
                        url='/api/attractions?page='+ Attractions.nextPage;
                    }
                    else{
                        url='/api/attractions?page='+ Attractions.nextPage + '&keyword=' + Attractions.keyword;
                    }
                    makeRequestWithJWT();
                    debounce(url);
                }
            };

            function debounce(url){
                if(Attractions.nextPage != null){
                    getAttractions(url);
                }
            };

            function mouseWheel(e){
                let direction = e.deltaY;
                let screenWidth = screen.width;
                if(screenWidth > 1200){
                    if(Attractions.nextPage == 1){
                        if(direction > 0)
                        {
                        if(Attractions.keyword == null){
                            url='/api/attractions?page='+ Attractions.nextPage;
                        }
                        else{
                            url='/api/attractions?page='+ Attractions.nextPage + '&keyword=' + Attractions.keyword;
                        }
                        debounce(url);
                        window.removeEventListener('wheel', mouseWheel);
                        }
                    }                     
                }              
            };
            function searching(){
                let textbox = document.getElementById("keyword");
                Attractions.keyword = textbox.value;

                if(textbox.value == ''){
                    alert("請輸入關鍵字");
                    Attractions.keyword = null;

                }
                else if(textbox.value == '請輸入景點名稱查詢'){
                    alert("請輸入關鍵字");
                    textbox.select();
                    Attractions.keyword = null;
                }
                else{
                    url = '/api/attractions?page=0&keyword='+Attractions.keyword;
                    Attractions.nextPage = 0;
                    Attractions.offset = 0;
                    removeElement();
                    window.addEventListener('wheel', mouseWheel);
                    debounce(url);
                }
                console.log(Attractions.keyword);
            };
            function removeElement(){
                let container = document.getElementById("attractions");
                let child = container.lastElementChild;
                while(child){
                    container.removeChild(child);
                    child = container.lastElementChild;
                }
            };
            // Create Element
            function createElement(){
                let attractions  = document.getElementById("attractions");
                let attraction, img, content, link;

                for(i=0; i<Attractions.length; i++){
                    // <div class="attraction" />
                    attraction = document.createElement("div");
                    link = document.createElement("a");
                    link.setAttribute('href', '/attraction/'+ ((Attractions.offset*12)+i+1).toString());
                    link.setAttribute('style', 'text-decoration:none');
                    attraction.classList.add("attraction");
                    // <img src="" />
                    img = document.createElement("img");
                    img.src = Attractions.images[i][0];
                    attraction.appendChild(img);
                    for(j=0; j<3; j++){
                        // <div class="content">
                        content = document.createElement("div");
                        content.classList.add("content");
                        switch(j){
                            case 0:
                                content.setAttribute('id', 'name');
                                // content.appendChild(document.createTextNode(Attractions.name[i]));
                                content.textContent = Attractions.name[i];
                                break;
                            case 1:
                                content.setAttribute('id', 'mrt');
                                // content.appendChild(document.createTextNode(Attractions.mrtStation[i]));
                                content.textContent = Attractions.mrtStation[i];
                                break;
                            case 2:
                                content.setAttribute('id', 'categoery');
                                content.appendChild(document.createTextNode(Attractions.category[i]));
                                // content.textContent = Attractions.mrtStation[i];
                                break;
                        }
                        attraction.appendChild(content);
                    }
                    link.appendChild(attraction);
                    attractions.appendChild(link);
                }
                Attractions.offset++;
            };
            function textboxFocused(){
                let textbox = document.getElementById("keyword");
                if(textbox.value == "請輸入景點名稱查詢"){
                    textbox.value = '';
                }
            }
            function signin(){
                let nav = document.getElementById("nav");
                let cover = document.getElementById("cover");
                let menu = document.getElementById("signin_menu");
                let state = document.getElementById("state");

                if(state.textContent != "登出系統"){
                    nav.classList.remove("sticky");
                    cover.classList.add("cover");
                    menu.style.display = "block";
                }
                else{
                    state.textContent = "登入/註冊";
                    signout();
                }
                
            }
            function closeMenu(){
                let nav = document.getElementById("nav");
                let cover = document.getElementById("cover");
                let menu_1 = document.getElementById("signin_menu");
                let menu_2 = document.getElementById("signup_menu");

                nav.classList.add("sticky");
                cover.classList.remove("cover");
                menu_1.style.display = "none";
                menu_2.style.display = "none";
            }
            async function login(){
                let email = document.getElementById("email").value;
                let password = document.getElementById("password").value;
                let state = document.getElementById("state");
                
                if(email == '' | password == ''){
                    changeText("signin_tip", "請輸入帳號或密碼！", true);                   
                }
                else{
                        let data = {

                            "email":email,
                            "password":password                        
                        }
                        $.ajax({
                                url:"/api/user",
                                type:"patch",
                                headers : new Headers({
                                    'Content-Type': 'application/json'
                                }),
                                data:JSON.stringify(data),
                                success: function(result){
                                    if(result["ok"] === undefined){
                                        changeText("signin_tip", result["message"], true);
                                    }
                                    else{
                                        location.reload();
                                    }
                                }
                            })
                    }   
                
            }
            function signout(){
                $.ajax({
                            url:"/api/user",
                            type:"delete",
                            headers : new Headers({
                                'Content-Type': 'application/json'
                            }),
                            success: function(result){
                                location.reload();
                            }
                        })
            }
            function changeText(idName, message, error){
                let tip = document.getElementById(idName);
                tip.textContent = message;
                if(error == true){
                    tip.style.color = "red";
                }
                setTimeout(function(){
                    if(idName == "signin_tip"){
                        tip.textContent = "還沒有帳戶？點此註冊";
                    }
                    else{
                        tip.textContent = "已經有帳戶了？點此登入"
                    }
                        tip.style.color = "#666666";
                    }, 1500);
            }     
            async function signUp(){
                let name = document.getElementById("name").value;
                let email = document.getElementById("unsign_email").value;
                let password = document.getElementById("unsign_password").value;

                if(name == '' | email == '' | password == ''){
                    changeText("signup_tip", "以上欄位不得為空", true);
                }
                else{
                    let data = {
                    "name":name,
                    "email":email,
                    "password":password
                    }

                    $.ajax({
                        url:"/api/user",
                        type:"post",
                        headers : new Headers({
                                'Content-Type': 'application/json'
                            }),
                        data:JSON.stringify(data),
                        success: function(result){
                            if(result["ok"] === undefined){
                                changeText("signup_tip", result["message"], true)
                            }
                            else{
                                changeText("signup_tip", "註冊成功！", false)
                            }
                        }

                    })
                }

                
            }   
            function changeMenu(current_menu){
                let signin, signup;
                signin = document.getElementById("signin_menu");
                signup = document.getElementById("signup_menu");

                if(current_menu == 'signin'){
                    
                    signin.style.display = "none";
                    signup.style.display = "block";
                }
                else{
                    signin.style.display = "block";
                    signup.style.display = "none";
                }
            }
            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }   

            async function makeRequestWithJWT() {
                if(flag){
                    flag = false;
                    let state = document.getElementById("state");
                    $.ajax({
                            url:"/api/user",
                            type:"get",
                            headers :{
                                    'X-CSRF-TOKEN': getCookie('csrf_access_token'),
                                },
                            success: function(result){
                                console.log(result);
                                if(result['data'] === undefined){
                                    state.textContent = "登入/註冊";
                                }
                                else{
                                    state.textContent = "登出系統";
                                }
                            }

                    })
                    flag = true;
                }
                
                
            }
        </script>
    </head>
    <body style="margin: 0px; font-family: NotoSansTC-Regular;" onload="loaded();">
        <div style="height: 275px;" id="signin_menu" class="menu">
            <div class="member">登入會員帳號<button style="position: absolute; right:10px; width:20px; height: 20px; background-color: transparent; border: none;" onclick="closeMenu();"></button></div>
            <div class="signin"><input id="email" placeholder="輸入電子信箱"/></div>
            <div class="signin"><input type="password" id="password" placeholder="輸入密碼"/></div>
            <div class="signin"><button onclick="login();">登入帳戶</button></div>
            <div style="color:#666666; margin:10px; text-align: center;" id="signin_tip" onclick="changeMenu('signin');">還沒有帳戶？點此註冊</div>   
        </div>
        <div style="height: 334px; display: none;" id="signup_menu" class="menu">
            <div class="member">註冊會員帳號<button style="position: absolute; right:10px; width:20px; height: 20px; background-color: transparent; border: none;" onclick="closeMenu();"></button></div>
            <div class="signin"><input id="name" placeholder="輸入姓名"/></div>
            <div class="signin"><input id="unsign_email" placeholder="輸入電子郵件"/></div>
            <div class="signin"><input id="unsign_password" placeholder="輸入密碼"/></div>
            <div class="signin"><button onclick="signUp();">註冊新帳戶</button></div>
            <div style="color:#666666; text-align: center; margin:10px;" id="signup_tip" onclick="changeMenu('signup');">已經有帳戶了？點此登入</div> 
        </div>
        <div id="cover"></div>
        <nav class="sticky" id="nav">
            <div class="top-container">
                <div class="subject">台北一日遊</div>
                <div class="frame">預定行程</div>
                <div id="state" class="frame" onclick="signin();">登入/註冊</div>
            </div>     
        </nav>
        <section>
            <div class="slogan">
                <div style="color: white; font-size: 28px; font-weight: 700; line-height: 24px; margin-bottom: 20px;">輕鬆享受台北一日悠閒</div>
                <div style="color: white; font-size: 16px; line-height: 13px; margin-bottom: 20px;">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input class="textbox" value="請輸入景點名稱查詢" id="keyword" onclick="textboxFocused();"/>
                    <button class="search_btn" onclick="searching()"><img src="{{ url_for('static', filename='icon_search.png') }}"></button></input>
                </div>
            </div>         
        </section>
        <content id="attractions">
        </content>
        <div class="footer">COPYRIGHT &copy 2021 台北一日遊</div>
    </body>
</html>