<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="utf-8" />
        <title>首頁</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>

            class AttractionsList{
                constructor(){
                    this.keyword = null;
                    this.flag = false;
                    this.offset = 0;
                }
                parse(data, page){
                    this.length = data.length;
                    this.nextPage = page;

                    this.name = [];
                    this.mrtStation = [];
                    this.category = [];
                    this.images = [];

                    for(let i = 0; i < this.length; i++){
                        this.name.push(data[i]['name']);
                        this.mrtStation.push(data[i]['mrt']);
                        this.category.push(data[i]['category']);
                        this.images.push(data[i]['images']);
                    }
                }
                test(){
                    console.log(this.name);
                    console.log(this.mrtStation);
                    console.log(this.category);
                    console.log(this.images);
                    console.log(this.nextPage);
                }
                search(keyword){
                    this.keyword = keyword;
                }
            }

            let Attractions = new AttractionsList();

            function loaded(){

                window.addEventListener('wheel', mouseWheel);
                window.addEventListener('scroll', scroll);

                url="/api/attractions?page=0"
                getAttractions(url);
            };

            async function getAttractions(url){

                if(!Attractions.flag){
                    Attractions.flag = true;
                    const response = await fetch(url);
                    const result = await response.json();
                    let count = result['data'].length;
                    let data = result['data'];
                    let Page = result['nextPage'];
                    Attractions.parse(data, Page);
                    createElement();
                    Attractions.flag = false;
                }
            };
            // infinite scrolling
            function scroll(){
                const scrollTop = document.documentElement.scrollTop;
                const scrollHeight = document.documentElement.scrollHeight;
                const clientHeight = document.documentElement.clientHeight;

                // on the bottom
                if(scrollHeight-Math.trunc(scrollTop) - Math.trunc(clientHeight) <= 1){
                    if(Attractions.keyword == null){
                        url='/api/attractions?page='+ Attractions.nextPage;
                    }
                    else{
                        url='/api/attractions?page='+ Attractions.nextPage + '&keyword=' + Attractions.keyword;
                    }
                    debounce(url);
                }
            };

            function debounce(url){
                if(Attractions.nextPage != null){
                    getAttractions(url);
                }
            };

            function mouseWheel(e){
                let direction = e.deltaY;
                let screenWidth = screen.width;
                if(screenWidth > 1200){
                    if(Attractions.nextPage == 1){
                        if(direction > 0)
                        {
                        if(Attractions.keyword == null){
                            url='/api/attractions?page='+ Attractions.nextPage;
                        }
                        else{
                            url='/api/attractions?page='+ Attractions.nextPage + '&keyword=' + Attractions.keyword;
                        }
                        debounce(url);
                        window.removeEventListener('wheel', mouseWheel);
                        }
                    }                     
                }              
            };
            function searching(){
                let textbox = document.getElementById("keyword");
                Attractions.keyword = textbox.value;

                if(textbox.value == ''){
                    alert("請輸入關鍵字");
                    Attractions.keyword = null;

                }
                else if(textbox.value == '請輸入景點名稱查詢'){
                    alert("請輸入關鍵字");
                    textbox.select();
                    Attractions.keyword = null;
                }
                else{
                    url = '/api/attractions?page=0&keyword='+Attractions.keyword;
                    Attractions.nextPage = 0;
                    Attractions.offset = 0;
                    removeElement();
                    window.addEventListener('wheel', mouseWheel);
                    debounce(url);
                }
                console.log(Attractions.keyword);
            };
            function removeElement(){
                let container = document.getElementById("attractions");
                let child = container.lastElementChild;
                while(child){
                    container.removeChild(child);
                    child = container.lastElementChild;
                }
            };
            // Create Element
            function createElement(){
                let attractions  = document.getElementById("attractions");
                let attraction, img, content, link;

                for(i=0; i<Attractions.length; i++){
                    // <div class="attraction" />
                    attraction = document.createElement("div");
                    link = document.createElement("a");
                    link.setAttribute('href', '/attraction/'+ ((Attractions.offset*12)+i+1).toString());
                    link.setAttribute('style', 'text-decoration:none');
                    attraction.classList.add("attraction");
                    // <img src="" />
                    img = document.createElement("img");
                    img.src = Attractions.images[i][0];
                    attraction.appendChild(img);
                    for(j=0; j<3; j++){
                        // <div class="content">
                        content = document.createElement("div");
                        content.classList.add("content");
                        switch(j){
                            case 0:
                                content.setAttribute('id', 'name');
                                content.appendChild(document.createTextNode(Attractions.name[i]));
                                break;
                            case 1:
                                content.setAttribute('id', 'mrt');
                                content.appendChild(document.createTextNode(Attractions.mrtStation[i]));
                                break;
                            case 2:
                                content.setAttribute('id', 'categoery');
                                content.appendChild(document.createTextNode(Attractions.category[i]));
                                break;
                        }
                        attraction.appendChild(content);
                    }
                    link.appendChild(attraction);
                    attractions.appendChild(link);
                }
                Attractions.offset++;
                // JQuery 動態繫結    
                $("#attractions").on('click', '.attraction', function(e){
                    // const obj = e.currentTarget;
                    // const id = obj.lastChild.textContent;

                    // obj.submit();
                })
            };
         
            function textboxFocused(){
                let textbox = document.getElementById("keyword");
                if(textbox.value == "請輸入景點名稱查詢"){
                    textbox.value = '';
                }
            }
            function signin(){
                let nav = document.getElementById("nav");
                let cover = document.getElementById("cover");
                let menu = document.getElementById("menu");

                nav.classList.remove("sticky");
                cover.classList.add("cover");
                menu.style.display = "block";
            }
            function closeMenu(){
                let nav = document.getElementById("nav");
                let cover = document.getElementById("cover");
                let menu = document.getElementById("menu");

                nav.classList.add("sticky");
                cover.classList.remove("cover");
                menu.style.display = "none";
            }        
        </script>
    </head>
    <body style="margin: 0px; font-family: NotoSansTC-Regular;" onload="loaded();">
        <div id="menu" class="menu">
            <div class="member">登入會員帳號<button style="position: absolute; right:10px; width:20px; height: 20px; background-color: transparent; border: none;" onclick="closeMenu();"></button></div>
            <div class="signin"><input value="輸入電子信箱"/></div>
            <div class="signin"><input value="輸入密碼"/></div>
            <div class="signin"><button>登入帳戶</button></div>
            <div style="color:#666666; text-align: center; margin:5px;">還沒有帳戶？點此註冊</div>
        </div>
        <div id="cover"></div>
        <nav class="sticky" id="nav">
            <div class="top-container">
                <div class="subject">台北一日遊</div>
                <div class="frame">預定行程</div>
                <div class="frame" onclick="signin();">登入/註冊</div>
            </div>     
        </nav>
        <section>
            <div class="slogan">
                <div style="color: white; font-size: 28px; font-weight: 700; line-height: 24px; margin-bottom: 20px;">輕鬆享受台北一日悠閒</div>
                <div style="color: white; font-size: 16px; line-height: 13px; margin-bottom: 20px;">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search">
                    <input class="textbox" value="請輸入景點名稱查詢" id="keyword" onclick="textboxFocused();"/>
                    <button class="search_btn" onclick="searching()"><img src="{{ url_for('static', filename='icon_search.png') }}"></button></input>
                </div>
            </div>         
        </section>
        <content id="attractions">
        </content>
        <div class="footer">COPYRIGHT &copy 2021 台北一日遊</div>
    </body>
</html>